aiohttp==3.11.18
loguru==0.7.3
numpy==2.2.5
omegaconf==2.3.0
soundfile==0.13.1
websockets==15.0.1

# Install a GPU-compatible torch separately if needed for your CUDA version.
torch
nemo_toolkit[asr]
